target
src-gen
xtend-gen
.settings
.metadata
bin
generated
org.xtext.example.bookingDSL.tests/src/org/xtext/example/mydsl/tests/BookingDSLParsingTest.xtend
org.xtext.example.bookingDSL.tests/test-bin
org.xtext.example.bookingDSL.tests/test-bin
org.xtext.example.bookingDSL.ui.tests/test-bin
org.xtext.example.bookingDSL.tests/test-bin
org.xtext.example.bookingDSL.ui.tests/test-bin/org/xtext/example/mydsl/ui/tests/BookingDSLUiInjectorProvider.class
*test-bin
*.test-bin
org.xtext.example.bookingDSL.tests/test-bin/org/xtext/example/mydsl/tests/BookingDSLInjectorProvider$1.class
org.xtext.example.bookingDSL.ui.tests/test-bin
org.xtext.example.bookingDSL.tests/test-bin
